* {
	font-family: 'PT Sans', sans-serif, Arial, Helvetica;
	color: #444;
}
body {
	margin: 0;
	padding: 0;
}

a, a:visited {
	color: black;
}

a:hover {
	color: red;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#layersBtn {
	position: absolute;
	display: none;
	top: 50px;
	left: 10px;
	width: 40px;
	height: 40px;
	z-index: 9999;
	box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
	background: #fff; 
	cursor: pointer;
}

#layersBtn > img {
	display: block;
}

#modesPanel {
	position: absolute;
	top: 70px;
	left: 10px;
	width: 220px;
	background: rgba(255,255,255,1);
	z-index: 9999;
	box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
}


#legend {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 220px;
	z-index: 9999;
}

#legend-sidewalks, #legend-accessibility, #legend-noise {
	display: none;
}

#modesPanel .div {
	margin: 1px;
	background: none;
	padding: 10px;
}

#tooltip {
	position: absolute;
	z-index: 999999;
	left: 0px;
	top: 0px;
	visibility: hidden;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
	background: rgba(255,255,255,0.9);
}
#head {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	z-index: 99999;
	background: rgba(255,255,255,0.9);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
}

#head-right {
	float: right;
	margin-right: 20px;
}

#head-logo {
	font-size: 32px;
	margin-left: 20px;
	background: url('img/walking-man.svg') no-repeat 0px;
	padding-left: 35px;
}

#head-disqus-text, #head-disqus-count {
	display: inline-block;
}

#head-disqus, #head-about, #head-lang {
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
}

#head-share {
	display: inline-block;
	margin: 10px 20px;
	line-height: 40px;
	cursor: pointer;
}

.share-icon {
	display: inline-block;
	margin-left: 10px;
}

#disqus_thread {
	padding: 20px;
}

.disqus-comment-count {
	color: #aaa;
	padding-left: 5px;
}

.mode-inactive {
	background: none;
	padding: 10px 20px;
	cursor: pointer;
}

.mode-inactive:hover {
	color: #D20;
}

.mode-active {
	background: #555;
	color: #e0e0e0;
	padding: 10px 20px;
	cursor: pointer;
}

.mode-active:hover {
	color: #ffffff;
}


#sidepanel {
	position: absolute;
	display: none;
	right: 10px;
	width: 320px;
	overflow: auto;
	z-index: 10000;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
}
#panelheader {
	padding: 20px;
	color: black;
}
		
#panelphoto {
	padding: 0;
	text-align: center;
	display: block
}
		
#panelphoto img {
	margin: 0;
	display: block;
}

#panelphoto div img {
	margin: 0;
	display: block;
}

#panelphoto > iframe {
	border: none;
	display: block;
}
		
.header-title {
	font-size: 24px;
	text-align: center;
	color: black;
}

.header-value {
	font-size: 36px;
	text-align: center;
	margin: 20px 0px;
	color: black;
}
.header-description {
	font-size: 15px;
	text-align: left;
	color: #222;
}

.header-category {
	text-align: center;
	color: #222;
}

.header-help {
	font-size: 15px;
	text-align: left;
	color: black;
}

.sidewalk-noone, .accessibility-no, .noise-red {
	background: rgba(176,26,26,0.8);
}
.sidewalk-alone {
	background: rgba(237,122,23,0.8);
}
.sidewalk-two, .accessibility-limited, .noise-orange {
	background: rgba(246,197,42,0.8);
}
.sidewalk-three, .accessibility-yes, .noise-green {
	background: rgba(125,214,135,0.8);
}
.sidewalk-four, .noise-blue {
	background: rgba(96,164,178,0.8);
}
.sidewalk-unknown, .accessibility-unknown {
	background: rgba(200,200,200,0.8);
}
.sidewalk-unknown > .header-value,
.accessibility-unknown > .header-value,
.sidewalk-construction > .header-value   {
	
}

.sidewalk-construction {
	background: rgba(50,50,50,1);
}

.sidewalk-construction > .header-title,
.sidewalk-construction > .header-value,
.sidewalk-construction > .header-description,
.sidewalk-construction > .header-help {
	color: white;
}

#black-screen, #black-screen-disqus, #notsupported-blackscreen {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 19191919;
	background: rgba(0,0,0,0.8);
}

#welcome-screen, #disqus-screen, #notsupported-screen {
	display: none;
	position: absolute;
	left: 50%;
	top: 20px;
	width: 80%;
	max-height: 85%;
	overflow: auto;
	margin-left: -40%;
	z-index: 191919199;
	background: #fff;
	box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
}

#notsupported-en, #notsupported-ru {
	display: none;
	padding: 20px;
}


#welcome-about-ru, #welcome-about-en {
	display: none;
	padding: 20px;
}

#welcome-header {
	display: block;
	padding: 20px 20px 0px;
}

#welcome-header-text {
	font-size: 32px;
}

#welcome-close, #disqus-close {
	display: block;
	float: right;
	width: 26px;
	height: 26px;
	cursor: pointer;
	background: url('img/close-btn.svg') center center no-repeat;
}

#urbica-logo {
	display: none;
	position: absolute;
	bottom: 0px;
	left: 10px;
	z-index: 9999;
	opacity: 0.75;
}

#urbica-logo:hover {
	opacity: 1;
}

@media only screen and (min-width: 750px) {
	#sidepanel {
		top: 70px;
	}
}

@media only screen and (max-width: 750px) {
	#modesPanel {
		display: none;
		top: 50px;
	}
	
	#layersBtn {
		display: block;
	}
	
	#welcome-screen,  #disqus-screen, #notsupported-screen {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		max-height: 100%;
		overflow: auto;
		margin-left: 0;
		z-index: 191919199;
		background: #fff;
	}
	
	
	#panelphoto {
		display: none;
	}
	
	#sidepanel {
		left: 0;
		bottom: 0;
		width: 100%;
	}
	
	#head {
		height: 40px;
		
	}
	
	#head-logo {
		font-size: 0px;
		line-height: 40px;
		padding: 0px;
		margin-left: 10px;
		background: url('img/walking-man-mini.svg') 0px center  no-repeat;
	}
	
	#head-right {
		margin-right: 0px;
		line-height: 40px;
	}
	#head-disqus, #head-share {
		display: none;
	}
	
	#head-about, #head-lang {
		line-height: 40px;
		margin: 0px 10px;
		
	}
}